<html>
    <body>
        <h1> Predict Credit Card Default</h1>
        <form action="/" method="post">
            <p>Please enter your income:</p>
            <p><input type="number" step="1000" name="income"></p>
            <p>Please enter your age:</p>
            <p><input type="number" step="1" name="age"></p>
            <p>Please enter your loan:</p>
            <p><input type="number" step="1000" name="loan"></p>
            <p><input type="submit" value="enter"></p>
        </form>
        {{result}}
    </body>
</html>
