<html>
  <body>
    <h1>Predict Default</h1>
    <form action="/" method="post">
      <p>Please enter your income :</p>
      <p><input type="number" step="any" name="income" /></p>
      <p>Please enter your age :</p>
      <p><input type="number" step="any" name="age" /></p>

      <p>Please enter the loan amount :</p>
      <p><input type="number" step="any" name="loan" /></p>
      <p><input type="submit" value="Enter" /></p>
    </form>
    <p>Logistic Regression: {{result[0]}}</p>
    <p>Decision Tree: {{result[1]}}</p>
    <p>Random Forest: {{result[2]}}</p>
    <p>XGBoost: {{result[3]}}</p>
    <p>MLP: {{result[4]}}</p>
  </body>
</html>
